/* WOW FIX */

.wow {
  visibility: hidden;
}


/* Fonts */

@font-face {
  font-family: 'playfair_displaybold';
  src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'), url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* General */

body {
  color: #000;
  font-family: 'montserratlight';
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #33555A;
  transition: 0.3s;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: #000;
}

#contact a {
  color: #fff;
  font-family: 'montserratlight';
  text-transform: lowercase;
}

img {
  max-width: 100%!important;
  height: auto;
}

p {
  line-height: 1.8em;
  font-size: 1.2em
}

h1, h2 {
  font-family: 'playfair_displaybold';
  margin: 0 0 1.2em 0;
  font-weight: normal;
}

.artist h2 {
  font-family: 'montserratbold';
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

.bold {
  font-family: 'montserratbold';
  text-transform: uppercase;
}


/* Colors */

.color1 {
  background: #ececec;
}

.color2 {
  background: #EDC0AF;
}

.color3 {
  background-color: #2D5F73;
  color: #fff;
}


/* Color Sections */

section {
  padding: 100px 0;
  position: relative;
}

section#hello {
  padding: 75px 0 25px 0;
}

section#references {
  padding: 75px 0 100px 0;
}


/* Intro*/

.hero {
  padding: 25px 0 50px 0;
}

.hero-wrap {
  margin: 0 0 0 4em;
}

.hero h1 {
  font-size: 2.5em;
  margin: 0 0 0.7em 0.4em;
  text-indent: -0.4em;
}

.hero h2 {
  text-transform: uppercase;
  font-family: 'montserratlight';
  margin: 0px;
}

.hero ul {
  list-style: none;
  padding: 0!important;
  line-height: 2em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.mgmt {
  display: inline-block;
  text-transform: uppercase;
}


/* Triangles */

#serviceblock1:after, #serviceblock2:after, #serviceblock3:after, #serviceblock4:after, #testimonials:after {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -30px;
  transform: rotate(45deg);
  margin-left: -30px;
  left: 50%;
  z-index: 99;
}

#serviceblock1:before {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  transform: rotate(45deg);
  margin-left: -30px;
  left: 50%;
  z-index: 99
}

#serviceblock1:before {
  background: #FFF;
}

#serviceblock1:after {
  background: #ececec;
}

#serviceblock2:after, #testimonials:after {
  background: #FFF;
}

#serviceblock3:after {
  background: #EDC0AF;
}

#serviceblock4:before {
  background: #EDC0AF;
}

#serviceblock4:after {
  background: #ececec;
}


/*Blocks */

.txtblock {
  background: #fff;
  padding: 20px;
  z-index: 1;
}

.txtblock p {
  padding: 0px;
  margin: 0px;
}

.imgblock {
  z-index: 0;
}


/*Text backgrounds */

.db {
  background: #f9f9f9;
}

.pb {
  border: 3px solid #F7D6CB;
}


/* Nav */

.navbar-fixed-top {
  border-width: 0px;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #fff!important;
}

.navbar {
  visibility: visible!important;
  text-transform: uppercase;
  background: #fff!important;
  border-bottom: 4px solid rgb(236, 236, 236);
}

ul.navbar-nav {
  text-align: center;
}

.navbar-brand {
  height: 50px;
  padding: 12px 15px;
  font-size: 1.5em;
}

.navbar-brand .bold {
  position: absolute;
  padding-top: 6px;
}

.active {
  font-family: 'montserratbold';
  padding-top: 2px;
}

.navbar-toggle .icon-bar {
  background: #000;
}


/* References */

.txtblock h1 {
  margin: 0px;
  text-align: left;
}

.txtblock h2 {
  margin: 0px;
  text-align: center;
}

.artistblock .col {
  border-bottom: 2px solid #F1F1F1;
  padding: 1em 0 1em 0!important;
}

.artistblock .col-last {
  border-bottom: none;
}

.artistblock h2, .artistblock h3, .artistblock h4, .artist h2 {
  text-transform: uppercase;
}

.date {
  text-align: right;
}

.artistblock h4 {
  font-family: 'montserratbold';
  font-size: 1.5em;
  margin: 0;
}

.artistblock p {
  line-height: 1.2em;
  color: #8c8c8b;
  margin: 0.5em 0;
}

#reflist {
  margin-top: 50px;
}

#references .col {
  padding: 0px;
}


/* Contact */

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

.sansserif {
  font-family: 'montserratlight'!important;
  text-transform: uppercase;
}

.center {
  text-align: center!important;
}

ul.social {
  list-style: none;
  padding: 0px!important;
  line-height: 2em;
}

ul.social li {
  display: inline-block;
}

ul.social img {
  width: 60px;
  padding: 10px;
}


/* IMUC */

.imuc {
  background: #fff;
  color: #000;
  padding: 5em 0;
  margin-top: 3em;
  text-transform: uppercase;
}

.imuc img {
  max-width: 200px!important;
}


/* Artists */

.artist {
  margin: 100px 0!important;
}


/* Accordion */

.btn {
  cursor: pointer;
}

.toggle:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #F1F1F1;
  transition: 0.3s;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
}

#references h3 {
  background: #f1f1f1;
  text-align: center;
  font-size: 1.5em;
  padding: 25px;
  position: relative;
}

.toggle.collapsed:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  transition: 0.3s;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}


/* Imprint*/

.imprint {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: -75px;
  color: #fff;
}

.btn-default {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
}

.imprint-wrap {
  margin-bottom: 50px;
}

.imprint-wrap p {
  line-height: 1em;
}

.imprint-wrap h3 {
  margin-top: 2em;
}

.modal-content {
  border-radius: 0px;
  border: 0px;
}

@media (min-width: 768px) {
  section#hello {
    padding: 120px 0 50px 0;
    position: relative;
  }
  .hero {
    padding: 50px 0;
  }
  .stage-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0 1em 0.4em;
  }
  /* Nav */
  .nav {
    float: right;
  }
  .nav>li>a {
    padding: 30px 20px;
  }
  .navbar-brand {
    padding: 30px 15px;
    margin-left: 0px!important;
  }
  .nav>li>a, .navbar-brand {
    transition: 0.5s;
  }
  .animatednav {
    padding: 20px 15px!important;
  }
  .active {
    border-bottom: 4px solid #33555A;
  }
  .navbar-nav {
    margin: 0 0 -4px 0;
  }
  /* Blocks */
  .txtblock {
    margin-top: 40px;
    padding: 40px!important;
  }
  .rightblock {
    margin-left: -75px;
  }
  .modal-dialog {
    min-width: 800px;
  }
  #references h3 {
    font-size: 1.5em;
  }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .hero h1 {
    font-size: 4em;
  }
  .hero-wrap {
    margin: 4em 0 0 5em;
  }
  .rightblock {
    margin-left: -100px;
  }
  .brand {
    padding: 20px 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hero-wrap {
    margin: 0 0 0 1em;
  }
}


/* Samll devices only  */

@media (max-width: 767px) {
  /* Row fix */
  .row {
    margin: 0px!important;
  }
  .row.artist {
    margin: 75px 0!important;
  }
  .hero h2 {
    margin-bottom: 0;
  }
  .artist .txtblock {
    margin-bottom: 25px!important;
  }
  /* Toggle Animation */
  .navbar-toggle {
    border: none;
    background: transparent !important;
  }
  .navbar-toggle:hover {
    background: transparent !important;
  }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggle .middle-bar {
    opacity: 0;
  }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
  }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
  }
  /* Typo */
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  /* Blocks */
  .rightblock {
    margin-top: 50px;
  }
}


/* iPhone 5  */

@media (max-width: 320px) {
  .hero h1 {
    font-size: 2em;
  }
  .hero-wrap {
    margin: 0 0 0 1em;
  }
}
